.box {
 width : 150px;
 height: 40px;
 border: 1px solid black;
 border-radius: 3px;
 float: left;
 margin : 8px;
 text-align: center;
 transition: 0.5s;
}

.box:hover{
    background-color: black;
}

.container {
    overflow: hidden;
}

span {
    position: relative;
    top : 10%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.picture {
    transition: 0.5s;
}

img{
    width: 490px;
    height: 300px;
    text-align: center;
}

a {
    position: relative;
    left: 17%;
    font-size: 20px;
    text-decoration: none;
}