.container {
    width: 300px;
}

a {
    background-color: #ddd;
    color: black;
    text-decoration: none;
    padding: 5px;
    width: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.container div {
    background-color: dodgerblue;
    width: 220px;
    height: 300px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    line-height: 300px;
    
}

.container div.active {
    background-color: orange;
}

